.table-block p {
    text-align: left;
  }
  
  .table-block table {
    width: 100%;
    table-layout: fixed;
  }
  
  .table-block {
    background-color: #ffffff;
    padding: 10px 10px;
    margin-bottom: 50px;
    border-radius: 20px;
  }
  
  .table-block table tr th {
    text-align: left;
    text-transform: capitalize;
    opacity: 0.2;
    font-family: sans-serif;
  }
  
  .table-block table tr td {
    text-align: left;
    font-family: sans-serif;
  }
  
  .table-block th,
  .table-block td {
    word-wrap: break-word;
    text-align: center;
  }
  
